# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Data & Database (Büyük dosyalar ve gizli veriler)
Data/raw_data/
Data/processed/
Data/vector_db/
Data_json/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Geçici dosyalar
output.txt
test_summary.txt
final_report.txt
