langchain>=0.2.0
langchain-community>=0.2.0
langchain-ollama>=0.1.0
langchain-text-splitters>=0.2.0
pyodbc>=5.0.0
# qdrant-client ve fastembed mssql geçişi nedeniyle kaldırıldı

pymupdf4llm>=0.0.10
python-docx>=1.1.0
pandas>=2.0.0
streamlit>=1.30.0
tqdm>=4.60.0
agno>=1.0.0
openai>=1.0.0
Pillow>=10.0.0
openpyxl>=3.1.0
requests>=2.31.0
pytest>=8.0.0
numpy>=1.24.0
sentence-transformers>=2.2.0

